@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
    background: #ebeff3;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background: #ebeff3;
  }
  
  button {
    cursor: pointer;
  }

  /* input, select, textarea {
    font-size: 14px;
    padding: 5px;
    margin: 0;
    line-height: 1.5;
  }
*/

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
